.button{
  cursor: pointer;
  background-color: transparent;
  border:  none;
  background-color: $color-secondary;
  color: $color-light;
  padding: 3px 7px;
  border-radius: 4px;
}
.button:focus{
  outline: none;
}
