
*{
  box-sizing: border-box;
  background-color: $color-primary;
}
html{
  font-size: 16px;
}
body{
  font-size: 1.6 rem;
  @extend %font-primary;
}
.container{
  max-width: 1020px;
  margin: auto;
}
